*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
body{
	font-family: 'Open Sans', sans-serif;	
}


main .main-welcome{
 	width: 100%; 	
}

.wrapper{
	width: 80%;
	margin: 0 auto;
}

main .main-container{
	display: flex; 
	flex-direction: column;
	justify-content: center;	
	min-width: 100%;
}

main .main-container{
	background: #000;
	text-align: center;
}
main .main-container p{
	color: #999999;
	font-size: 20px;
}
main .main-container h1{
	color: #999999;
	font-size: 22px;
		
}

.mycompany{
	color:#fcac45;
}




.social{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

}
.social img{
	margin-left: 12px;
}
.social img:hover{
	opacity: 0.6;
}













